---
---
@import "{{ site.theme }}";

// Suppression des barres/tirets décoratifs
.page-header h1::before, .page-header h1::after,
h1::before, h1::after, 
h2::before, h2::after {
    content: none !important;
}

// Titres plus imposants et élégants
h1, h2, h3 {
    font-family: "Cambria", "Times New Roman", "Times New Roman", serif;
    font-weight: bold;
    border-bottom: none !important;
}

// CORPS DE TEXTE : On augmente la taille ici
body {
    font-family: "Times New Roman", "Segoe UI", Arial, sans-serif;
    color: #333;
    font-size: 22px;      // Taille augmentée (standard web moderne)
    line-height: 1.6;    // Espace entre les lignes pour plus de clarté
}

// On s'assure que les listes (puces) suivent aussi
li {
    margin-bottom: 10px; // Espace entre chaque point de la liste
}

// Bannière bleue
.page-header {
    background-color: #154360; 
    background-image: none; 
}
